:root {
    
    --main-font-color: rgba(117, 117, 117, 1);
    --title-font: rgba(33, 33, 33, 1);
    --background-header: rgba(255, 255, 255, 1);
    --background-color: #E5E5E5;
    --background-team: rgba(245, 244, 250, 1);
    --background-footer: rgba(47, 48, 58, 1);
    --button-link-color: rgba(33, 150, 243, 1);
    --button-link-hover: rgba(24, 140, 232, 1);
    --footer-contacts: rgba(255, 255, 255, 0.6);
   
}

/*body*/

body {
    font-family: 'Roboto', sans-serif;   
    
    color: var(--main-font-color);
    background-color: var(--background-header);
    
}

.container {

    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    
}

h1,h2,h3 {
    margin-top: 0;
    
}

/*Header*/


.site-header {
        
    background-color: var(--background-header);
    font-family: 'Roboto'; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
}


.link-logo {
    display: inline-block;
    padding: 0;
   
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.72;
    letter-spacing: 0.05em;
    
    text-decoration: none;
}

.text-logo {
    display: inline-block;
    width: 145px;
    height: 31px;
    margin: 0;
}


.web {
    display: inline-block;
    width: 145px;
    height: 31px;
    margin: 0;

    font-family: 'Raleway', sans-serif;
    color: var(--button-link-color);
    
}

.studio{
    display: inline-block;
    width: 145px;
    height: 31px;
    margin: 0;

    color: var(--title-font);
}

.nav-list {
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-nav {

    width: 49px;
    height: 16px;
   

    color: var(--title-font);
    letter-spacing: 0.02em;

}

.link-nav:hover,
.link-nav:focus {
    color: var(--button-link-color);
   
}

.link-current {

    color: var(--button-link-color);
    letter-spacing: 0.02em;
}


.contacts {
    list-style: none;
    padding: 0;
    margin: 0;
}



.link-contacts {
    color: var(--main-font-color);
    letter-spacing: 0.02em;

}

.link-contacts:hover,
.link-contacts:focus {
    color: var(--button-link-color);
}

/*Hero*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.hero {
   

    background-color: var(--background-footer);
    font-family: 'Roboto';
    text-align: center;


}

.hero-title {
    width: 696px;
    height: 120px;
   margin-left: 452px;
   margin-right: 452px;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.17em;
    color: var(--background-header);
   
    

    background-color: tomato;
}

.button-hero {

    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
   
    border: 0;   

   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   text-align: center;

   background-color: var(--button-link-color);
   color: var(--background-header);
   cursor: pointer;
   
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--button-link-hover);
}

.main-container{
    background-color:var(--background-color);
}

/*Peculiarities*/


.peculiarities-title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--title-font);
}

.peculiarities-list {
   
padding: 0;
margin: 0;

list-style: none;
}

.peculiarities-text {
    display: inline-block;
    width: 270px;
    height: 75px;
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}


/*Works*/

.section, .works {
    padding-top: 0px;
}

.works-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.07em;
    color: var(--title-font);
    text-align: center;
}

.works-list {
    padding: 0;

    list-style: none;
}

/*Our team*/

.team {
    background-color: var(--background-team);
    
}


.team-list{
    padding-left: 0;
    margin-top: 0%;
    margin-bottom: 0%
    ;
    list-style: none;
    text-align: center;
    
}

.team-list-item {
    width: 270px;
    height: 368px;
}

.team-title {
width: 376px;
height: 42px;
margin-left: 612px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.07em;
    color: var(--title-font);
    text-align: center;
}


.list-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-font);
    text-align: center;
}


.team-list-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
    
}

/*Footer*/

.footer-section {
padding-top: 60px;
padding-bottom: 60px;

    background-color: var(--background-footer);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}


.footer-list {
    padding-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;

    list-style: none;

}

.footer-adress {
  
    font-style: normal;
    color: var(--background-header);
    
    }

    .direction {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 9px;
    }


    .footer-contact{
        display: inline-block;
        padding: 0;
        margin-bottom: 9px;

    color: var(--footer-contacts);
    
}    

.footer-contact:hover,
.footer-contact:focus {
    color: var(--button-link-color);
}

.studio-footer {
    color: var(--background-header);
    display: inline-block;
    width: 145px;
    height: 31px;
    margin: 0;
}

/*Portfolio*/

/*Filters*/

.main-section {
    background-color: var(--background-color);
}

.list-btn {
    list-style: none;
}

.item-button {
background-color: var(--background-team);
color: var(--title-font);
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
cursor: pointer;
}


.item-button:hover,
.item-button:focus {
    background-color: var(--button-link-color);
    color: var(--background-header);
}


.secondary-button:hover,
.secondary-button:focus {
  
    color: var(--button-link-color);
}

/*Cards*/

.list-cards {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:focus {
color: var(--button-link-color);
}

.link-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.07em;
color: var(--title-font);
}

.link-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}

.link-text-main {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}